{
 ; URL prefix of your jira instance.
 :url "https://singularitygroup.atlassian.net"
 :get-creds
 ;; command + args how to return your jira api token
 ;; not recommended plain file on you pc
 ;; ["cat" "my-jira-token"]
 ;; using pass with style
 ["pass" "jira-api-token"]

 :jira-user "Benjamin.Schwerdtner@gmail.com"

 ; Project key.
 :project "COS"

 :assignee {:accountId "5ace46054fe2de2a7f6302bf"}

 ; Type of issue to create.
 :issue-type "Task"
 ; Pattern to look for in commit messages.  Should have single capture group.
 :issue-pattern "\\[([A-Z]+-[0-9]+)\\]"
 ; A selmer template for how to add issue to commit messages.
 :commit-template "[{{issue}}] {{summary}}\n\n{{description}}"
 ; Transition issue to this state.
 :transition "ready for review"
 ; Pattern to match against sprint names when looking for current (first ACTIVE) sprint.
 :sprint-pattern "."

 ; Values for defined custom fields.

 :storypoints 1

 ; Aliases for custom fields so they are recognized by config/arguments.

 :custom-fields
 {
  ; Sprint-id will be filled in with "current sprint".
  :sprint-id   :customfield_12345
  ; Other fields can be specified on the command line or in config.
  :storypoints :customfield_10001
 }

 :aliases
 {example-alias
  {:doc "Custom alias command"
   :args ["search" "--jql" "project = ABC AND statusCategory IN (…)"]}}
}
